@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F9EDE6;
    font-family: 'Sora',sans-serif;
    display: flex;
}

/*sidebar*/

.sidebar{
    background-color: #ffffff;
    height: screen;
    width: 301px;
    min-width: 270px;
    margin-top:10px;
    margin-left: 10px;
    border-radius: 12px;
    overflow-y: auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08); 
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8.57px;
    margin: 40px 0px;
}
.gradient-text{
    background: linear-gradient(to bottom,#D6E042,#3BBA93);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bold;
    letter-spacing: -0.86px;
    font-size: 30px;
}
.logo p{
    font-size: 10px;
}
a{
    text-decoration: none;
    color: black;

}
.menu{
    margin-left: 10px;
}
.menu-list{
    margin-left: 15px;
     padding-left: 0;
    margin: 0;
}
.menu-list li{
    width: 250px;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    transition: background-color .3s ease,
                transform .3s ease,
                box-shadow .3s ease;
    display: flex;
    align-items: center;
}
.menu-list li:hover,
.active{
    background: #f6c0ec;
    transform: translateX(5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);

}
.menu-list li a{
    font-size: 12px;
}
.menu-list li a:hover{
    color: brown;
}
.menu-list li img{
    height: 15px;
    width: 15px;
    margin-right: 15px;
}
/*main section*/
.main{
   flex: 1;
    min-height: 100vh;
    margin-left: 15px;
    width: auto;
   
}

.notification{
    height: 50px;
    width: 40px;
    background-color: rgb(200, 109, 109);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user{
    display: flex;
    border-radius: 15px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.user:hover,
.notification:hover,
.buttons a:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.form-control{
    width: 250px;
}

.cards{
    margin: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
}

.buttons a{

    height: 32px;
    width: 138px;
    background-color: rgb(28, 203, 139);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: smaller;
}

.stats-card{
    height: 158px;
}

.stats-card .card-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-small {
    display: inline-block;
    font-size: 10px;
    background: rgb(210, 209, 209);
    padding: 3px;
    margin-left: 3px;
}

.small{
    font-size: 12px;
}

/*surveys*/

.status{
    display: flex;
    gap: 8px;

}
.survey-cards{
    width: 442px;
    height: 230px;
}

.row1,.row2{
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.status-card{
    background:#fff;
    padding: 10px;
    width: 212px;
    height: 110px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

.status-card:hover,
.stats-card:hover,
.radial-chart:hover{
    cursor: pointer;
    transition: all .3s ease;
    transform: scale(1.1);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12); 
}

.icon-bg{
    background-color: #a9ffbb;
    border-radius: 50px;
    padding: 8px;
}

.survey-status {
    display: flex;
    gap: 10px;
}

.radial-chart {
    background: #d8d0cb;
    border-radius: 8px;
    padding: 12px;
    width: 240px;
    height: 230px;
    display: flex;
    flex-direction: column;
}

.radial-chart p:first-child {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.radial-chart #chart,
.radial-chart #chart2,
.radial-chart #chart3 {
    flex: 1;
}

.text-secondary1 {
    text-align: center;
    font-size: 12px;
    margin-top: -10px;
}

.text-secondary span {
    color: #000; 
}

.teams-customer{
    margin-top: 20px;
    display: flex;
}

.teams{
    display: flex;
    gap: 10px;
}

.teams1{
    background-color: white;
    border-radius: 10px;
}

.teams-card{
   
    width: 210px;
    height: 125px;
    margin-top: 10px;
    padding-left: 15px;
    padding-top: 10px;
    margin: 8px;
    border-radius: 12px;
}

.teams-card:nth-child(even){
    background-color: #c1fece;
}

.teams-card:nth-child(odd){
    background-color: #fed9c1;
}


.progress-bar, .gender{
    height: 219px;
    width: 715px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 12px;
    margin-left: 10px;
}


.data{
    display: flex;
    gap: 20px;
}

.gender-card{
    background:#f5f5f5;
    padding:10px;
    border-radius:10px;
    width:225px;
}

.current{
    display:flex;
    gap:17px;
}

.graph{
    width:95px;
    height:55px;
    background:#e8e8e8;
    border-radius:6px;
    overflow:hidden;
}

.top-labels,
.bottom-labels{
    display:flex;
    justify-content:space-around;
}

.top-labels{
    margin-bottom:8px;
    font-size:13px;
}

.bottom-labels{
    margin-top:8px;
    font-size:18px;
}

.field-cards{
    height: 120px;
    width: 380px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.map{
    max-width: 600px;
    height: 360px;
}
.map-job{
    display: flex;
    gap: 20px;
}
.card table th,
.card table td{
    padding: 1.2rem 1rem;
    vertical-align: middle;
}

.table-secondary{
    --bs-table-bg: #d8d1cb;
}

.badge{
    font-weight: 500;
    padding: 6px 10px;
}

.table{
    width: 560px;
}

.zone{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}